<body>
  <main role="main">
    <div class="jumbotron">
      <div class="container">
        <div class ="d-none d-md-inline">
          <h1 class="display-3 index_h1">可能性はあるがまだスパークしていない若者と、老舗経営者が出会うと一体どうなるのであろう飲み会。</h1>
        </div>
        <div class="d-md-none">
          <h1 class="display-3 index_h1">どうなる飲み会。</h1>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <% @posts.each do |post|%>
          <div class="col-md-4">
            <h2 class="h2_index"><%= post.title %></h2>
              <p><%= truncate(post.body,length:50) %></p>
              <p><%= image_tag post.image_url.to_s %></p>
              <p><%= link_to "続きを読む", post, class: "btn btn-secondary" %></p>
          </div>
        <% end %>
      </div>
        <p><%= link_to "バックナンバー", "/posts/d_backnumber", class: "btn btn-secondary" %></p>
    </div>
  </main>
  <footer class="container">
    <p></p>
  </footer>
</body>
