<div class="container pt-5">
  <h1><%= @post.title %></h1>
  <p><%= image_tag @post.image_url.to_s %></p>
    <hr>
      <%= simple_format(@post.body) %>
    <hr>
      <% if session[:user_id].to_i >= 1 %>    
      <%= link_to "編集", edit_post_path(@post), class: "btn btn-secondary" %>
      <%= link_to "削除", post_path(@post), class: "btn btn-danger", method: :delete ,data: {confirm: "本当に削除しますか？"} %>
  <% end %>
</div>